
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ditu:before { content: "\f01ea"; }

.icon-dingdan:before { content: "\f01be"; }

.icon-qiandai:before { content: "\f006e"; }

.icon-biaoshengbang:before { content: "\f00eb"; }

.icon-renwu:before { content: "\f0090"; }

.icon-xiangyou:before { content: "\f0114"; }

.icon-xingren:before { content: "\f01f3"; }

.icon-yinliao:before { content: "\f0089"; }

.icon-zhengque:before { content: "\f0156"; }

.icon-cuowu:before { content: "\f0155"; }

.icon-jia:before { content: "\f0154"; }

.icon-jian:before { content: "\f0153"; }

.icon-jia1:before { content: "\f0175"; }

.icon-jian1:before { content: "\f0176"; }

.icon-xuanze:before { content: "\f01ec"; }

.icon-shouji:before { content: "\f00a2"; }

.icon-dingwei:before { content: "\f01c5"; }

.icon-shoubiao:before { content: "\f00a5"; }

.icon-dengdai:before { content: "\f00c4"; }

.icon-kaishi:before { content: "\f016b"; }

