@charset 'utf-8';
body{font-family: Microsoft Yahei;}
.wrap{width: 1000px; margin: 0 auto;}
.header{border-bottom: 3px solid #ff9400; padding-bottom: 10px;}
.header h1{font-size: 40px; font-family: "STKaiti"; color: #ff9400;}
.header .areas{float: right; color: #666;}
.header .time{color: #ff6600;}
.header .ml10{margin-left: 10px;}
.tip-title{color: #666;}
.tel{color: #FF0000; font-family: Arial, Helvetica, sans-serif; font-weight: bold;}
.banner{margin-top: 5px; padding-bottom: 5px;}
.logo-area{display: inline-block; width: 330px; line-height: 100px;}
.logo{float: left;}


.outer{border: 1px solid #dcdbdb; padding: 10px; background: #f9f9f9; position: relative;}
.cut-off-line{background: #ff9400; height: 3px; margin: 5px 0;}
.required{color: #D30000; font-weight: 700; position: absolute; left: 5px; top: 2px;}
.mt10{margin-top: 10px;}
.footer{border-top: 3px solid #ff9400; margin-top: 60px; text-align: center; padding: 20px 0 55px 0;}

/* butns */
.butn{display: inline-block; border: 0; height: 35px; padding: 0 45px; line-height: 35px; text-align: center; vertical-align: middle; color: #fff; cursor: pointer; font-size: 14px; outline: none; font-family: Microsoft Yahei; font-size: 16px;}
.butn-orange{background: #ff9400;}
.butn-orange:hover{background: #FFAB37;}
.butn-orange:active{background: #F08B00;}
.butn-cancel{margin-left: 50px; background: #BEBEBE;}
.butn-cancel:hover{background: #D3D3D3;}
.butn-cancel:active{background: #B4B4B4;}
.buttons{text-align: center; padding: 5px 0px;}

/* 订购流程 */
.order-process{}
.order-process .icon{font-size: 35px; color: #ff9400;}
.order-process .text{color: #333;}
.order-process .arrow{color: #999; vertical-align: sub; margin: 0 30px;}


/* 订购模块 */
.module{margin-top: 50px; border: 1px solid #ff6600;}
.module .line{height: 1px; background: #ff6600; margin: 10px; font-size: 0;}
.block-title{position: absolute; display: inline-block; padding: 8px 20px; top: -33px; left: -1px; background: #ff6600; color: #fff;}
.module .tip-title{position: absolute; top: -25px; left: 150px}
.module .tip-title .tip-title-text{color: #ee0000;}
.block-title .icon{margin-right: 8px;}
.get-rice{color: #ff6600;}
.handtip{margin: 0 10px; color: #ff6600;}

/* 确定地址 */
.address{}
.address .item{float: left; margin: 10px; position: relative;}
.address .item .icon{position: absolute; color: #ff6600; top: -4px; left: -3px;}
.address .item a{display: inline-block; padding: 5px 10px; border: 1px solid #dcdbdb;}
.address .item a:hover{border: 1px solid #ff6600; color: #ff6600;}

.other-contact{margin: 20px 10px;}
.other-contact .icon{margin-right: 5px;}
.text-filed{color: #fff; background: #ff6600; display: inline-block; padding: 8px 15px; font-size: 12px;}
.text-input{display:inline-block; margin-bottom:0; vertical-align:middle; background-color: #fff; border: 1px solid #ff6600; color: #555; font-size:14px; height: 14px; line-height: 14px; padding: 8px 6px; outline: none; margin: -2px 0 0 0;}

/* 订购餐品 */
.jmfan{float: left; text-align: center; border: 1px dashed #dcdbdb; padding: 8px; margin: 20px 48px;}
.jmfan dd{margin: 10px 0;}
.jmfan .jmfanpic{width: 130px; height: 100px;}
.jmfan .drinkspic{width: 130px; height: 130px;}

.jmfan .icon{color: #ff6600; cursor: pointer; font-size: 18px;}
.jmfan .icon:hover{color: #ff9400;}
.jmfan .icon:active{color: #DA5700;}
.jmfan .tb-rmb{font-family: arial;}
.jmfan .tb-rmb-num{font-family: Tahoma,Arial,Helvetica,sans-serif; font-weight: 700; font-size: 18px; color: #f40;}
.jmfan .tb-text{width: 40px; text-align: center; border: 1px solid #ff6600; height: 20px;}
.nap-text{color: #333; font-size: 14px;}
.suggest{color: #ff6600; margin-left: 15px;}


/* 订单项 */
.order-list{background-color: #fff; width: 220px; position: fixed; z-index: 999; top: 150px; right: 0px;}
.order-list .order-title{height: 35px; line-height: 35px; text-align: center; letter-spacing: 5px; background: #ff6600; color: #fff; font-size: 18px;}
.order-list .order-con{padding: 20px 10px; border: 1px solid #ff6600;}
.order-list .check-list{text-align: center; padding-bottom: 15px;}
.order-list .check-list li{height: 30px; line-height: 30px; position: relative;}
.order-list .check-list .mid-line{margin: 0 5px; display: inline-block;}
.order-list .check-list .error{color: #D30000;}
.order-list .check-list .success{color: #00A53B;}
.menu-list .menu-title span{font-weight: bold; margin-left: 20px;}
.menu-list .menu-con{border-top: 1px dashed #ff6600; border-bottom: 1px dashed #ff6600; margin-top: 10px; padding: 10px 0;}
.menu-list .menu-con li{height: 30px; line-height: 30px; color: #3D3D3D;}
.menu-list .menu-con li span{display: inline-block;}

.sum-money{float: right; color: #f40; margin-right: 4px;}
.sub-areas{text-align: center; padding-top: 15px;}
.sub-btn{padding: 0 25px; height: 28px; line-height: 28px; font-size: 16px;}


.pay-btns{padding: 0 25px;}
.pay-btns .iconfont{margin-right: 10px;}

/* 弹窗样式 */
.win{position: fixed; top: 50%; left: 50%; z-index: 999;}
.win-title{background: #ff6600; height: 40px; line-height: 40px; color: #fff; padding-left: 30px; letter-spacing: 5px; font-size: 18px;}
.win-title .close-win{float: right; font-size: 26px; margin-right: 10px; cursor: pointer;}
.win-title .close-win:hover{color: #E7E7E7;}
.win-title .close-win:active{margin-top: 1px;}
.win-con{background: #fff; padding: 20px 30px; border: 1px solid #ff6600;}
.win-con .back-text{width: 460px; height: 120px; resize: none; font-size: 16px; border: 1px solid  #dcdbdb;}

/* 遮罩层 */
.mask{position: absolute; z-index: 100; background: #000; opacity: .4; width: 100%; height: 2506px; filter:Alpha(Opacity=40); top: 0; left: 0; display: none;}

/* 建议反馈 */
.feedback-win{width:520px; height:300px; margin-top:-150px; margin-left:-260px; display:none;}

/* 确定订单 */
.order-win{height:300px; margin-top:-150px; margin-left:-300px; top: 45%; display: none;}
.order-win .buttons{margin-top: 50px; margin-left: -15px;}
.order-win .left-panel{float: left;}
.order-win .left-panel li{margin-top: 15px;}
.order-win .left-panel li .key{vertical-align: top;}
.order-win .left-panel li .value{display: inline-block; width: 200px;}
.order-win .left-panel .modify-btns{margin-left: 10px;}
.order-win .right-panel{float: left; margin-left: 30px;}
.order-win .right-panel .menu-list{border: 1px solid #ff6600; padding: 20px 10px;}
