/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix{*zoom:1;}


a{text-decoration: none; color: #666;}
a:hover{color: #ff9400;}
input{outline: none;}


/*



NameVirtualHost *:82
<VirtualHost *:82> 
AliasMatch ^/api/anchor(.*) D:/wamp/www/zhanqi/web_apps/api_anchor/public$1 
AliasMatch ^/api/user(.*) D:/wamp/www/zhanqi/web_apps/api_user/public$1 
AliasMatch ^/api/public(.*) D:/wamp/www/zhanqi/web_apps/api_public/public$1 
AliasMatch ^/api/auth(.*) D:/wamp/www/zhanqi/web_apps/api_auth/public$1 
AliasMatch ^/user(.*) D:/wamp/www/zhanqi/web_apps/user_center/public$1 
DocumentRoot "D:/wamp/www/zhanqi/web_apps/web_v2/public/" 
ServerName local.zhanqi.tv
</VirtualHost> 

<VirtualHost *:82> 
AliasMatch ^/assets/swf(.*) D:/wamp/www/zhanqi/assets/flash_release$1 
AliasMatch ^/assets/web(.*) D:/wamp/www/zhanqi/assets/web_statics$1 
DocumentRoot "D:/wamp/www/zhanqi/web_apps/web_v2/public/" 
ServerName local.static.zhanqi.tv 
</VirtualHost>

*/